// Bootstrap default overrides - settings and mixins
@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.card {
    .card-header{
        h3{
            display: inline-block;
        }
    }
}

span.button {
    float: right;
}

span.button:hover {
    color: $green;
    cursor: pointer;
}

.xmrdetails {
    padding-left: 10px;
    padding-bottom: 10px;
}

.searchmoneroaddress{
    margin-bottom: 30px;
}

button{
    cursor: pointer;
}

.mineexample{
    color:red;
    font-size: small;
    padding: 30x;
}